body {
/* background-color: #4B0082; */
/* background-color: #86064c; */
font-family: 'Sono', sans-serif;
}

.container {
    padding: 4rem 0;
    background-color: #86064c;
}

.container__conteudo {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    /* max-width: 90%;
    margin: 0 auto;
    justify-content: space-between; */
}

.cabecalho {
    display: grid;
    background: url(../img/thh.jpg);
    grid-template-columns: 30% 70%;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    height: 75vh;
    padding: 0;
    align-items: center;
}



.logo {
    width: 100px;
    margin: 0 auto;
    
} 

.container__pacotes {
    position: fixed;
    top: 10%;
    left: 12.5%;
    z-index: 10;
    
}

.planos {
    box-sizing: border-box;
    padding: 1rem;
    color: white;
    display: grid;
    grid-template-columns: auto auto auto;
    height: 80vh;
    width: 75vw;
    background-color: black;
    margin: 0 auto;
    column-gap: 1rem;
    background: linear-gradient(red, orange, yellow, green, blue, rgb(248, 68, 248));
    border-radius: 3px;
}

.centralizar {
    text-align: center;
}

.conteudo__pacote {
    border: solid black 5px;
    box-sizing: border-box;
    padding: 6px;
    position: relative;
}

.pacote-1 {
    /* background: linear-gradient(darkorange,rgb(255, 148, 18)); */
    background: url(../img/fosco_blue.avif);
    /* color: black; */
    border: solid black 4px;
}

.pacote-2 {
    /* background: linear-gradient(to top right,#420171, #9500ff); */
    background-image: url(../img/bg.jpg);
    border: solid black 4px;
}

.pacote-3 {
    /* background: linear-gradient(black, black); */
    
    background: url(../img/fosco_red.jpg);
    border: solid black 5px;
    
}

.star {
    color: gold;
    font-size: 18px;
}

.play {
    color: rgba(255, 255, 255, 0.838);
}
    



.titulo_pacote {
    font-size: 24px;
    margin-bottom: 0.2em;
    font-weight: 900;
    text-transform: uppercase;
    
}

.preco_pacote {
    font-size: 18px;
    margin-bottom: 1.5em;
    /* text-decoration: underline; */
    color: gold;
}

.frase_pacote {
    font-size: 16px;
    font-weight: bold;
    padding: 1em 0;
    border-bottom: solid white 2px;
    line-height: 1.2em;
    color:whitesmoke;
}

.destaque {
    font-size: 17px;
    color: rgb(0, 255, 0);
}

.botao_pacote {
    display: block;
    position: absolute;
    font-size: 18px;
    font-weight: 600;
    border: 2px white solid;
    border-radius: 5px;
    padding: 5px 0;
    width: 160px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 30px;
    /* background: linear-gradient(45deg, rgb(0, 0, 0), rgb(65, 65, 65), black); */
    /* background-image: linear-gradient(45deg, darkblue, black, darkred); */
    /* background: linear-gradient(45deg, rgb(0, 0, 0), rgb(0, 134, 134), black); */
    background-color: black;
    color: white;
    opacity: 0.45;
    transition: 350ms;
}

.botao_1:hover {
    transform: scale(1.05);
    /* background: linear-gradient(45deg, blue,black,blue); */
    background-color: rgb(5, 5, 5);
    cursor: pointer;
    opacity: 1;
    border: 2.1px solid goldenrod;
    color: goldenrod;
}

.botao_2:hover {
    transform: scale(1.05);
    background-color: rgb(5, 5, 5);
    cursor: pointer;
    opacity: 1;
    border: 2.1px solid goldenrod;
    color: goldenrod;
}

.botao_3:hover {
    transform: scale(1.07);
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    opacity: 1;
    border: 2.3px solid gold;
    color: gold;
}

.box__container {
    color: aliceblue;
    text-align: center;
    box-sizing: border-box;
    padding: 0 30px 30px 30px;
    display: block;
}

.titulo-principal {
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 2em;
    font-family: 'Cinzel', serif;
}

.frase-padrao {
    margin-bottom: 0.8em;
    font-size: 18px;
    line-height: 1.2em;
}

.botao-header {
    font-weight: 600;
    height: 2.5em;
    width: 85%;
    border-radius: 10px;
    margin: 0.5em;
    transition: 450ms;
}

.botao-header:hover {
    transform: scale(1.08);
    border: 1.5px solid blue;
    color: darkblue;
    margin-bottom: 0.6em;
    background-color: #ebebeb;
}

.link-header {
    text-decoration: none;
    font-size: 10px;
    color: aquamarine;
    transition: 450ms;
}

.link-header:hover {
    text-decoration: underline;
    font-size: 10.4px;
    color: aqua;
}

.link-header:active {
    color: #a82dff;
}

.mini-frase {
    display: block;
    font-size: 10px;
}

.transition {
    height: 25vh;
    /* background: linear-gradient(black, #4B0082); */
    background: linear-gradient(black, #86064c);
}

.transition__2 {
    height: 20vh;
    background: linear-gradient(#86064c, #4B0082);
}

.container__secundario {
    background: linear-gradient(#4B0082 60%, #49027b);
    /* background-color: #49027b; */
    /* background-color: #7b0546; */
    /* #500188 */
}

.container__terciario {
    background: linear-gradient(#49027b, #420171);
}

.conteudo-secundario {
    margin: 0 6em;
}

.titulo-secundario {
    font-weight: bold;
    font-size: 42px;
    margin-bottom: 0.5em;
    text-align: center;
}


.container__image {
    margin: 0 15em;
    height: 350px;
    
}

.image_1 {
    background-image: url(../img/Music-notes.png.crdownload);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.image_2 {
    margin: 0 3.5em;

}
.image_3 {
    margin: 0 8em;
    /* display: inline; */
    /* background-image: url(../img/piano.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom; */
}

.lista__dispositivos {
    display: flex;
    justify-content: space-evenly;
    padding: 1em 0;
}

.item__lista{
    /* margin: 0 3em; */
    text-align: center;
}


.image__lista {
    height: 200px;
    margin-bottom: 1em;
}

.frase-lista {
    font-size: 24px;
    font-weight: 600;
}

.dispositivos {
    background-color: #420171;
}

footer {
    background-image: url(../img/bg.jpg);
    text-align: center;
    padding-top: 3.5rem;
    padding-bottom: 1.2rem;
}

.link {
    text-decoration: none;
    font-size: 10px;
    color: aquamarine;
    transition: 450ms;
    margin-top: 0.5em;
}

.link:hover {
    color: aqua;
    font-size: 11px;
}

.link:active {
    color: #a82dff;
}


.cabecalho__contato {
    display: grid;
    grid-template-columns: 50% 50%;
    background: linear-gradient(30deg,black, rgb(1, 1, 102), #66043a, black);
    background-size: cover;
    background-repeat: no-repeat;
    /* text-align: center; */
    height: 55vh;
    padding: 0;
}

.contato {
    color: lightgray;
    font-size: 8px;
    margin-top: 2em;
}

.copyright {
    color: white;
    font-size: 13px;
    margin-top: 1.5em;
}

.logo__footer {
    width: 130px;
    margin-bottom: 5px;
}

.pag {
    /* background-image: url(../img/piano_cut.jpg); */
    background-size: 40%;
}
.contatos {
    padding: 4rem 0 3rem 0;
    width: 940px;
    margin: 0 auto;
    background-color: whitesmoke;
}

.label__padrao  {
    display: block;
    margin-bottom: 0.5em;
    margin-top: 1em;
} 

.input__padrao {
    display: block;
    margin-bottom: 0.7em;
    width: 50%;
    padding: 0.5em 0.3em;
}

.frase-contato {
    font-size: 18px;
    font-weight: 600;
    margin: 0.8em 0;
}

.turnos {
    font-weight: 600;
    display: block;
    width: 25%;
    text-align: center;
    margin: 0 10em;
    background-color: rgb(230, 250, 244);
}

.checkbox {
    display: block;
    font-size: 14px;
    margin: 1.5em 0;
}

.input__botao {
    display: block;
    margin: 1.1rem auto 0 auto;
    background: linear-gradient(30deg,black, rgb(1, 1, 102), #66043a, black);
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    width: 40%;
    padding: 0.5rem;
    transition: 450ms;
}

.input__botao:hover {
    background: linear-gradient(30deg, rgb(1, 1, 102), #66043a);
    transform: scale(1.1);
    color: lightgray;
    border: black solid 2.5px;
}

.container_grid {
    box-sizing: border-box;
    padding: 30px;
}

.icon {
    margin-right: 10px;
}

.link-header_contato {
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    transition: 450ms;
}

.link-header_contato:hover {
    color: lightgray;
    font-size: 16.3px;
    text-decoration: underline;

}

.container_grid-2 {
    box-sizing: border-box;
    padding: 3em;
    text-align: center;
    color: white;
}














@media screen and (max-width: 768px) {

    /* .container__conteudo, .cabecalho {
        display: block;
        width: auto;
    } */
    

    .conteudo-secundario {
        margin: 0;
    }
    .cabecalho, .container, .transition, .transition__2, footer, section, .box__container, .container__conteudo {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }


    .container__image {
        margin: 0;
        max-width: 100%;
        height: 100%;
        justify-content: center;
    }
    
    .titulo-secundario {
         font-size: 32px;
    }

    .transition {
        height: 20vh;
    }

    .transition__2 {
        height: 10vh;
    }

    .container__secundario {
        padding: 0;
    }

    .container__secundario .container__conteudo{
        flex-direction: column-reverse;
    }

    .image_2 {
        margin-bottom: 1em;
    }


    .image__lista {
        margin: 0;
        max-width: 100%;
        height: 80%;
    }

    .frase-lista {
        font-size: 13px;
    }
    
    .dispositivos {
        padding-top: 0;
        padding-bottom: 2.5rem;
    }
    .lista__dispositivos {
        justify-content: space-around;
    }

    .item__lista {
        max-width: 25%;

    }

    .botao-header {
        margin: 0.5em auto;
    }

    .dispositivos .titulo-secundario {
        box-sizing: border-box;
        padding: 0 1em;
        font-size: 18px;
    }

    .frase-padrao {
        box-sizing: border-box;
        padding: 0 1.5em;
        font-size: 16px;
    }

    .copyright {
        font-size: 8px;
        box-sizing: border-box;
        padding: 0 1.5em;
    }


    footer{
        align-items: center;
        padding: 1.2rem 0;
    }

    .logo__footer {
        max-width: 25%;
    }

}
